#pepper_tabBar {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  border-bottom: 5px solid salmon;
  transform: translateY(-20px);
  /* transform: translateY(0); */
  transition: all 0.5s;
  color: #999;
  z-index: 999;
  font-family: arial;
  font-size: 15px;
  line-height: 22.5px;
  box-sizing: border-box;
}

#pepper_tabBar.active {
  transition: all 0.3s;
  transform: translateY(0);
  border-bottom: 2px solid salmon;
}

#pepper_tabBar > a {
  padding: 0 10px;
  border-right: 2px solid #999;
}

#pepper_tabBar > a:first-child {
  background-color: #999;
  color: #333;
}

#pepper_tabBar > a > .favIcon {
  width: 16px;
  margin-right: 5px;
}

div#pepper_tabBar > a {
  display: inline-block;
  width: 200px;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
